body{
    font-family:sans-serif;
}
.header-area{
    padding:40px 0;
}
.nav-area {
   background-color:#f3eeee;
   
}
.logo-area a h4{
    font-size: 20px;
    font-weight: 600;
    margin:0 0 0 12px;
    font-family:monospace;
    color:black;
}

.active{
    color:blue !important;
}
.logo-area a span{
    color:#5271ff;
}
.navbar-nav .nav-link {
    padding-left:30px !important;
}
.navbar-toggler:focus{
    box-shadow:0 0 0 0 black;
}
.navbar-light .navbar-toggler{
    border-color: black;;
}
.c-btn{
    background-color: #3636e6;
    color: white;
    font-size: 13px;
    padding: 11px 13px;
    border:none;
    border-radius: 4px;
}
.c-btn:hover{
    background-color: #FA804C;
    color:black;
}
.card-title{
    font-weight: 600;
    color:#000000ab;
}
.border {
    width:130px;
    height:4px;
    background:blue;
}
.carousel-container{
    width:80%;
    margin:0 auto;
}
.carousel-res{
    bottom:-40px !important;
}
.rounded-border{
    border:4px solid white;
}
.card-shadow{
    box-shadow:0px 0px 6px 4px #0000002b;
}

.res-padding{
    padding:0 25px;
}


/*************** media query area ********************/

@media only screen and (max-width: 992px) {
  .cart-content{
      text-align: center !important;
  }
    .res-icon{
        justify-content: center !important;
        margin-bottom:35px;
    }
    .res-icon img{
        width:90px !important;
    }
    .test-image{
        justify-content: center !important;
    }
    .test-icon{
        float:none !important;
        margin:0 auto 5px auto !important;
    }
    .carousel-control-prev{
        left:-20px;
    }

    .carousel-control-next{
        right:-20px;
    }
    .carousel-control-next, .carousel-control-prev{
        top:20px;
    }
    .res-padding{
        padding:0 0;
    }
    .text-cart{
        margin:0 !important
    }
    .cart-content h2{
        font-size: 18px !important;
    }

    .text-cart .row{
       margin-top:0 !important;
    }
    .cart-image img{
        height:80% !important;
    }
  }
  @media only screen and (max-width: 768px) {
    .text-cart{
        margin-top:0 !important
    }
  }
 @media only screen and (max-width: 576px) {
    
    .carousel-control-prev{
        left:-10px;
    }

    .carousel-control-next{
        right:-10px;
    }
    .shoe{
        height:200px !important;
        width:350px !important
     }
  }





